body {
  background: url(../images/bg4.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.circular {
  border-radius: 50%;
  height: 150px;
}

.name {
  padding-top: 25px;
  line-height: 30px;
}

.description {
  line-height: 15px;
}

.upcase {
  text-transform: uppercase;
}

h6.te-desc {
  line-height: 20px;
}
